@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  overflow-x: hidden;
}

/* Top-bar section*/

/* Logo search child section*/

.logo-search-child {
  display: flex;
  align-items: center;
}

.top-bar {
  width: 100vw;
  height: 5.2vh;
  background-color: #17407b;
  display: flex;
  justify-content: space-around;
}
.top-bar-logo {
  height: 4.6vh;
  border-radius: 50%;
  margin-top: 0.3vh;
  cursor: pointer;
}
.search-wrapper {
  margin-left: 10px;
  display: flex;
  background-color: white;
  border-radius: 25px;
}
.search-bar {
  border-radius: 25px;
  /* padding-left: 10px;*/
  text-indent: 10px;
  height: 2.9vh;
  border: 0px;
}
.search-bar:focus {
  outline: none;
  cursor: pointer;
}
.search-fav-wrapper {
  align-self: center;
}
.search-fav {
  height: 1.8vh;
  margin-right: 0.5vw;
  padding-left: 0.1vw;
  margin-top: 0.1vh;
  cursor: pointer;
}

/*Notification child section*/

.notification-child {
  display: flex;
}

.profile-pic {
  height: 4.6vh;
  border-radius: 50%;
  margin-top: 0.3vh;
  cursor: pointer;
}

.notification-pic {
  height: 2.8vh;
  margin-top: 1.2vh;
  margin-left: 0.3vw;
  cursor: pointer;
}

/* Main wrapper section*/

.main-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 15px;
}

/* Right side-bar section*/

.right-side-bar {
  position: sticky;
  top: 0px;
  -webkit-box-shadow: 0px 20px 56px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 20px 56px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 20px 56px 0px rgba(0, 0, 0, 0.2);
  
  padding: 1%;
  margin-left: 35px;
}

.ad-img {
  width: 300px;
}

.ad-texts-wrapper {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.ad-texts-wrapper p {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: darkgray;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

/* left side menu */

.left-side-menu {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 20px 56px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 20px 56px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 20px 56px 0px rgba(0, 0, 0, 0.2);
  padding: 1%;
}

/* user wrapper*/

.user-wrapper {
  display: flex;
}

.user-img-left-menu {
  height: 7vh;
  border-radius: 50%;
  
}
.user-data {
  align-self: center;
  margin-left: 0.5vw;
}
.user-data p {
  margin:0px;
  font-family: 'Lato', sans-serif;
}
.user-name {
font-size: 25px;
font-weight: 700;
}
.user-title {
  font-size: 12px;
  font-weight: 300;

}

/* menu-separator*/

.menu-separator {
  height: 10px;
  width: 300px;
  margin-top: 10px;
}

/* menu wrapper */

.menu-img {
  height: 40px;
  width: 40px;
}

.menu-child {
  display: flex;
  margin-top: 8px;
}
.menu-text {
  align-self: center;
  margin-left: 20px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}

/* posts-wrapper */

/*post-container*/

.user-img-post {
height: 85px;
border-radius: 50%;
margin-left: 10px;
margin-right: 5px;
}

.post-container {
  display: flex;
  margin-bottom: 30px;

}

.post-details {
  margin-bottom: 10px;
}
.post-details p {
  margin: 0px;
  font-family: 'Lato',sans-serif;

}

.post-details-author {
  font-size: 16px;
  font-weight: 700;
}

.post-details-date-location {
  font-size: 13px;
}
.post-img {
  max-width: 400px;
}

.post-text {
  max-width: 400px;
  text-align: justify;
  text-indent: 10px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

.post-wrapper {
  -webkit-box-shadow: 0px 20px 56px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 20px 56px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 20px 56px 0px rgba(0, 0, 0, 0.2);
  padding: 2%;
}